<%- include('./partials/head.ejs') %>
<body>
    <div class="back">
        <div class="section">
            <h1>Rings of Saturn</h1>
        </div>
        <%- include('./partials/nav.ejs') %>
        <div class="section">
            <h3>
                Rings of Saturn
            </h3>
            <p>
                <%- include('./text/ringsOfSaturn/00intro.txt') %>
            </p>
            <img src="img/saturn1.jpg" alt="" id="image">
            <br>
            <br>
            <h3>
                Formation and Composition
            </h3>
            <p>
                <%- include('./text/ringsOfSaturn/01formation.txt') %>
            </p>
            <img src="img/saturn2.jpg" alt="" id="image">
            <br>
            <br>
            <h3>
                Structure and Apperance
            </h3>
            <p>
                <%- include('./text/ringsOfSaturn/02structure1.txt') %>
            </p>
            <br>
            <p>
                <%- include('./text/ringsOfSaturn/03ringA.txt') %>
            </p>
            <p>
                <%- include('./text/ringsOfSaturn/04ringB.txt') %>
            </p>
            <p>
                <%- include('./text/ringsOfSaturn/05ringC.txt') %>
            </p>
            <br>
            <p>
                <%- include('./text/ringsOfSaturn/06structure2.txt') %>
            </p>
            <img src="img/saturn3.jpg" alt="" id="image">
            <br>
            <br>
            <h3>
                The sheperd moons and ring dynamics
            </h3>
            <p>
                <%- include('./text/ringsOfSaturn/07moons.txt') %>
            </p>
            <img src="img/saturn4.jpg" alt="" id="image">
            <br>
            <br>
            <h3>
                Scientific significance
            </h3>
            <p>
                <%- include('./text/ringsOfSaturn/08signif.txt') %>
            </p>
            <img src="img/saturn5.jpg" alt="" id="image">
            <br>
            <br>
            <h3>
                Exploration and Observation
            </h3>
            <p>
                <%- include('./text/ringsOfSaturn/09exploration.txt') %>
            </p>
            <br>
            <br>
            <h3>
                Conclusion
            </h3>
            <p>
                <%- include('./text/ringsOfSaturn/10conclusion.txt') %>
            </p>
        </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %>